@use 'hero';
@use 'variables' as *;
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: $textColor;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }
}

.footer {
    padding: 4rem;
    text-align: center;
    background-color: #212145;
    
    &__content {
        max-width: 80vw;
        margin: 0 auto;
        padding-top: 2rem;
        
        p {
            color: #484899;
            padding-bottom: .5rem;
        }
        a {
            text-decoration: none;
            color: #484899
        }
    }
}